langchain
langchain-openai
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
huggingface_hub

python-dotenv
streamlit
ipykernel
pypdf
PyMuPDF
bs4
arxiv
wikipedia
chromadb
sentence-transformers
faiss-cpu
duckdb
pandas
openai
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1 ##external lirb
youtube-transcript-api
unstructured
pytube
numexpr
cassandra-driver==3.25.0
diffusers
transformers
torch
accelerate
pillow
crewai
crewai_tools
gradio
 
